@{
    ViewBag.Title = "Index"; 
}
@model WT_Lab.ViewModels.ListDemoViewModel

        <div class="container">
            <div class="lab-title">@ViewData["LabTitle"]</div>
            <div class="lab-list">Список</div>
            <div>
                <ol type="A">
            
                @for (int i = 1; i <= 5; i++)
                {
                    <li>Пункт номер @i списка</li>
                }
                </ol>
            </div>
            <div class="lab-list">Форма</div>
            <form action="/submit" method="post">
                <div class="mb-3">
                    <div class="mb-3">
                        <input type="checkbox" name="preference" value="option1">
                        <label class="label-bold">Чек-бокс 1</label>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" name="preference" value="option2">
                        <label class="label-bold">Чек-бокс 2</label>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="radio" name="radio" value="radio1" checked="checked">
                    <label class="label-bold">Радио-1</label>
                    <input type="radio" name="radio" value="radio2">
                    <label class="label-bold">Радио-2</label>
                    <input type="radio" name="radio" value="radio3">
                    <label class="label-bold">Радио-3</label>
                </div>
            <div class="mb-3">
             <select asp-for="SelectedId" asp-items="@Model.Items"></select>
            </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="label-bold">Логин</label>
                        <input class="form-control" name="login" placeholder="Введите логин" />
                    </div>
                    <div class="mb-3">
                        <label class="label-bold">Пароль</label>
                        <input class="form-control" name="password" placeholder="Введите пароль" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
